<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Platform to showcase Andrew Rotert's published software, personal projects, and resume. Andrew has seven published apps, across iOS and Android platforms. Visit the website to learn more.">
    <meta name="keywords" content="developer, Andrew Rotert, software, DSU, dakota state university, android, published, engineering, iOS, projects, development, web, personal, website">
    <meta name="author" content="Andrew Rotert">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Product Backlog | HBS Viewer</title>
    <!-- <link rel="icon" type="image/x-icon" href="Images/DevLogo.ico" />-->

    <link rel="stylesheet" href="Styles/normalize.css" />
    <link rel="stylesheet" href="Styles/defaults.css" />
    <link rel="stylesheet" href="Styles/IndexLayout.css" />
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
    <center><img src="Images/productbacklogdev.png" class="logo" alt="Logo" /></center>

    <hr class="nav" />
    <nav id="nav-placeholder"></nav>
    <hr class="nav" />

    <h1 class="index">Product Backlog Management Software</h1>
    <h2 class="index" >Welcome, <object id="welcome-user">{{{userID}}}</object></h2>

    <br /><br />


    <footer>
        <div class="right_position">
            <img src="Images/ARLogo.png" height="150" alt="Andrew Rotert Development Logo" />
            <br />
            <p class="bottom_position">&copy Copyright 2019-2020 Andrew Rotert</p>
        </div>

    </footer>

    <script src="Navigation/NavigationBarJS.js"></script>
    <script src="Navigation/NavBar.js"></script>
</body>
</html>
