/********************************** Override Items **********************************/
.index-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 'login welcome' 'desc desc';
    grid-row-gap: 1.5em;
    grid-column-gap: .25em;
    justify-items: center;
    align-items: center;
}
    .index-grid > div {
        display: block;
        width: 100%;
    }
#index-login {
    grid-area: login;
}
#index-welcome {
    grid-area: welcome;
}
#index-desc{
    grid-area: desc;
}
.index-desc{
    line-height: 2em;
}
/********************************** Index Items **********************************/
.blue {
    color: #0066FF
}
h2.index-user{
    font-size: 250%;
    text-align: center;
}
#welcome-label{
    display: none;
}
#welcome-user {
    color: #0066FF;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resize {
    width: 100%;
}
.resize-80 {
    width: 80%;
}
.container {
    display: block;
    text-align: center;
    display: none;
}

.button {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .75em;
    padding-bottom: .75em;
    color: white;
    font-size: 150%;
    background-color: #022E6D;
    display: inline-block;
    text-decoration: none;
}
    .button:hover {
        background-color: #0066FF;
    }

#inputShareCode {
    background-color: #DCDCDC;
    font-size: 150%;
    margin-bottom: 1em;
}
#labelShareCode {
    font-size: 110%;
    color: #0066FF;
    display: none;
}
#buttonShareCode{
    display: none;
}
/*********************** Figure Layout ***************************/
.figures{
    text-align: center;
}
    .figures > figure {
        display: inline-block;
        background-color: #022E6D;
        width: 60%;
        margin-bottom: 2%;
    }
        .figures > figure figcaption {
            background-color: #131313;
            color: white;
            font-size: 25px;
            font-weight: bolder;
        }
/*********************** Tech Layout ***************************/
.tech-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 1.5em;
    grid-column-gap: .25em;
    justify-items: center;
    align-items: center;
}

.tech-desc{
    text-align: center;
}
.tech-desc >h3  {
    text-align: justify;
    line-height: 2em;
}

/*********************** Parallex Layout ***************************/
.index-container {
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
}
.index-container2 {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
}
.parallax1 {
    min-height: 100vh;
    background-image: url("../Images/ServersImage.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.margin-bottom {
    margin-bottom: 10%;
}
.margin-top {
    margin-top: 10%;
}

/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .tech-desc{
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .grid-container {
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
    .button{
        font-size: 100%;
    }
    .index-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'login welcome' 'desc desc';
        grid-row-gap: 1em;
    }
    .figures > figure {
        width: 70%;
    }
}
@media screen and (max-width: 750px) {
    .parallax1 {
        background-image: none;
        background-color: #131313;
    }
    .index-container {
        top: 10%;
    }
    .backupImage {
        content: url("../Images/ServersImage.png");
        height: 200px;
        width: 94%;
        text-align: center;
    }
    .index-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 'login' 'welcome' 'desc';
        grid-row-gap: 1em;
    }
    .figures > figure {
        width: 75%;
    }
    .h3-mobile{
        font-size: 95%;
    }
    .tech-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto;
    }
}
@media screen and (max-width: 415px) {
    .index-container {
        top: 10%;
    }

    .backupImage {
        content: url("../Images/ServersImage.png");
        height: 200px;
        width: 94%;
        text-align: center;
    }
    .index-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 'login' 'welcome' 'desc';
        grid-row-gap: 1em;
    }
    .figures > figure {
        width: 80%;
    }
    .h3-mobile {
        font-size: 85%;
    }
    .tech-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
@media screen and (max-width: 275px) {
    .index-container {
        top: 10%;
    }

    .backupImage {
        content: url("../Images/ServersImage.png");
        height: 200px;
        width: 94%;
        text-align: center;
    }
    .index-grid {
        grid-template-columns: 1fr;
        grid-template-areas: 'login' 'welcome' 'desc';
        grid-row-gap: 1em;
    }
    .figures > figure {
        width: 85%;
    }
    .h3-mobile {
        font-size: 75%;
    }
    .tech-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
    }
}