/********************************** Override Items **********************************/
html {
    margin: 0;
    padding: 0;
    width: 100%;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
/********************************** Index Items **********************************/
h1.index {
    font-size: 500%;
    text-align: center;
    color: white;
}
h2.index {
    font-size: 350%;
    text-align: center;
    color: white;
}
h3.index {
    font-size: 200%;
    text-align: justify;
    color: white;
    margin: 0 5%;
}
h2.index-user{
    font-size: 250%;
    text-align: center;
}
#welcome-label{
    display: none;
}
#welcome-user {
    color: #0066FF;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resize {
    width: 100%;
}

.container {
    display: block;
    text-align: center;
    display: none;
}

.button {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .75em;
    padding-bottom: .75em;
    color: white;
    font-size: 150%;
    background-color: #022E6D;
    display: inline-block;
    text-decoration: none;
}
    .button:hover {
        background-color: #0066FF;
    }

#inputShareCode {
    background-color: #DCDCDC;
    font-size: 150%;
    margin-bottom: 1em;
}
#labelShareCode {
    font-size: 110%;
    color: #0066FF;
    display: none;
}
#buttonShareCode{
    display: none;
}
/*********************** Parallex Layout ***************************/
.index-container {
    position: absolute;
    text-align: center;
    top: 25%;
    width: 100%;
}
.index-container2 {
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
}
.parallax1 {
    min-height: 100vh;
    background-image: url("../Images/ServersImage.png");
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.margin-bottom {
    margin-bottom: 10%;
}
.margin-top {
    margin-top: 10%;
}

/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .grid-container{
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
    .button{
        font-size: 100%;
    }
    h1.index {
        font-size: 400%;
    }

    h2.index {
        font-size: 250%;
    }

    h3.index {
        font-size: 200%
    }
}
@media screen and (max-width: 750px) {
    .parallax1 {
        background-image: none;
        background-color: #131313;
    }
    .index-container {
        top: 10%;
    }
    .backupImage {
        content: url("../Images/ServersImage.png");
        height: 200px;
        width: 94%;
        text-align: center;
    }
}
@media screen and (max-width: 415px) {
    h1.index {
        font-size: 200%;
    }

    h2.index {
        font-size: 125%;
    }

    h3.index {
        font-size: 85%
    }
    .index-container {
        top: 10%;
    }

    .backupImage {
        content: url("../Images/ServersImage.png");
        height: 200px;
        width: 94%;
        text-align: center;
    }
}
@media screen and (max-width: 275px) {
    h1.index {
        font-size: 200%;
    }
    h2.index {
        font-size: 125%;
    }
    h3.index {
        font-size: 85%
    }
    .index-container {
        top: 10%;
    }

    .backupImage {
        content: url("../Images/ServersImage.png");
        height: 200px;
        width: 94%;
        text-align: center;
    }
}