
/********************************** Grid Layout **********************************/
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas: 'header header' 'mission mission' 'image1 content1' 'content2 image2' 'image3 content3' 'content4 image4';
    justify-items: center;
    align-items: center;
    grid-row-gap: 1em;
}

#grid-head{
    grid-area: header;
}
#grid-mission{
    grid-area: mission;
}
#grid-image1{
    grid-area: image1;
}
#grid-image2 {
    grid-area: image2;
}
#grid-image3 {
    grid-area: image3;
}
#grid-image4 {
    grid-area: image4;
}
#grid-content1 {
    grid-area: content1;
    align-content: center;
    justify-content: center;
}
#grid-content2 {
    grid-area: content2;
    align-content: center;
    justify-content: center;
}
#grid-content3 {
    grid-area: content3;
    align-content: center;
    justify-content: center;
}
#grid-content4 {
    grid-area: content4;
}

/********************************** Index Items **********************************/
h1.index {
    font-size: 300%;
    text-align: center;
}
h2.index{
    font-size: 250%;
    text-align: center;
}
#welcome-label{
    display: none;
}
#welcome-user {
    color: #0066FF;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resize {
    width: 100%;
}
.container {
    display: block;
    text-align: center;
    display: none;
}
.button {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .75em;
    padding-bottom: .75em;
    color: white;
    font-size: 150%;
    background-color: #022E6D;
    display: inline-block;
    text-decoration: none;
}
    .button:hover {
        background-color: #0066FF;
    }
/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .grid-container{
        margin-right: 1.5%;
        margin-left: 1.5%;
    }
    .button{
        font-size: 100%;
    }
}
@media screen and (max-width: 750px) {
    h1.index {
        font-size: 125%;
    }

}

@media screen and (max-width: 415px) {
    h1.index {
        font-size: 100%;
    }

}

@media screen and (max-width: 275px) {
    h1.index {
        font-size: 5px;
    }

}