
/********************************** Grid Layout **********************************/
.grid-container:after {
    content: "";
    display: table;
    clear: both;
}
.grid-container {
    text-align: center;
}
/********************************** PBM Items **********************************/
#root {
    display: block;
    text-align: center;
}

/********************************** React PBM Items **********************************/
.redError {
    color: red;
    font-size: 300%;
    text-align: center;
}
.signInLink{
    text-align: center;
    font-size: 200%;
}
    .signInLink:visited, .signInLink:hover, .signInLink:link {
        color: red;
        text-align: center;
    }
    .signInLink:hover{
        font-weight: 900;
    }

    .inline-block{
        display: inline-block;
    }
.button {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .75em;
    padding-bottom: .75em;
    color: white;
    font-size: 150%;
    background-color: #022E6D;
    display: block;
    text-decoration: none;
    margin: 0 20%;
    position: relative;
}

    .button:hover {
        background-color: #0066FF;
    }
.PBI {
    /*background-color: #848482;opacity: .75;*/
    margin: 5% 20%;
    opacity: 1;
}
    .PBI:hover {
        background-color: rgba(0,0,0,0.4);
        
    }
.normalizePBIheading {
    margin: 1em 20%;
}
    .normalizePBIheading:hover {
        opacity: 1;
        background-color: #DCDCDC;
    }
.normalizePBI:hover {
    opacity: 1;
    background-color: #DCDCDC;
}
    .PBI > h1 {
        font-size: 1.75em;
    }
    .PBI > h3{
        font-size: 1.35em;
    }


.PBI > p{
    text-align: left;
    font-size: 1em;
}

.PBI > p.small_info{
    text-align: right;
    font-size: .2em;
}
    .PBI > p.info {
        text-align: right;
        font-size: .8em;
        padding-right: .2em;
    }
#pregrid1 {
    width: 50%;
    float: left;
    position: relative;
}
#pregrid2 {
    width: 50%;
    float: right;
    position: relative;
}
#grid1 {
    width: 50%;
    float: left;
    position: relative;
    height: 85vh;
    overflow-y: auto;
}
.grid_border_left {
    margin-left: -.1em;
    border-left: .1em solid black;
}
.grid_border_right {
    margin-right: -.1em;
    border-right: .1em solid black;
}

#grid2 {
    width: 50%;
    float: right;
    position: relative;
    height: 85vh;
    overflow-y: auto;
}

.grid_border_bottom {
    padding-bottom: 2%;
    border-bottom: 2px solid #022E6D;
}

.box_shadow_blue {
    border: .3em solid #0066FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box_shadow_green {
    border: .3em solid #36FF54;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box_shadow_red {
    border: .3em solid #ff3333;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#shareLink {
    font-size: 150%;
    text-align: justify;
}

#shareLink:link {
    text-decoration: none;
    color: #0066ff;
}

#shareLink:visited {
    text-decoration: none;
    color: #0066ff;
}

#shareLink:hover {
    text-decoration: underline;
    color: #0066ff;
}

#shareLink:active {
    text-decoration: underline;
    color: #0066ff;
}
.hide{
    display: none;
}
.hide-const {
    display: none;
}
.bigger{
    font-weight: 700;
    font-size: 125%;
}
.standard-link {
    font-size: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}
    .standard-link:link {
        text-decoration: none;
        color: #0066ff;
    }
    .standard-link:visited {
        text-decoration: none;
        color: #0066ff;
    }

    .standard-link:hover {
        text-decoration: underline;
        color: #0066ff;
    }

    .standard-link:active {
        text-decoration: underline;
        color: #0066ff;
    }
/********************************** React Status Items **********************************/
.status {
    display: block;
    text-align: left;
}
#stats-display > h3 {
    margin: 0;
    padding: 0;
    clear: both;
    font-size: 110%;
    color: #022E6D;
}
.status > hr{
    clear:both;
}
#stats-display > p {
    float: left;
    padding: 0;
    margin: 0;
    padding-bottom: 1em;
    padding-left: 1em;
}
.stats-links {
    font-size: 100%;
    text-align: center;
    position: relative;
    display: inline-block;
}
.stats-links:link {
    text-decoration: none;
    color: #0066ff;
}

.stats-links:visited {
    text-decoration: none;
    color: #0066ff;
}

.stats-links:hover {
    text-decoration: underline;
    color: #0066ff;
}
.stats-links:active {
    text-decoration: underline;
    color: #0066ff;
}
.bolder{
    font-weight: bolder;
}
    .padding-right {
        padding-right: 1em;
    }
    .padding-left {
        padding-left: 3em;
    }
.status-defect {
    color: #ff3333;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.status-story {
    color: #0066FF;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.status-completed {
    color: #36FF54;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.text-red {
    color: #ff3333;
}
.text-blue {
    color: #0066FF;
}
.text-green {
    color: #36FF54;
}
#carrot{
    clear: both;
}
#Left-Side{
    float: left;
}
#Right-Side {
    float: right;
}

/********************************** React search Items **********************************/
.search-input {
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
    width: 100%;
}
.search-hide{
    display: none;
}
.search-show{
    display: block;
}
.search-radios{
    /*float: right;*/
    
}
.search-results{
    margin-top: 0;
    padding-top: 0;
}
    .search-radios > input[type="radio"] {
        margin-top: .5em;
        margin-right: .5em;
    }
    .search-radios > label {
        margin-right: .5em;
    }

/********************************** React readonly Items **********************************/
.readonly-link {
    color: red;
    float: right;
    clear: both;
    font-weight: 900;
}
/********************************** React project Items **********************************/

.project_item {
    border: 5px #022E6D solid;
    margin: 1em 20%;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .5);
}

/********************************** React Modal Items **********************************/
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 2.75%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0 20%;
    border-radius: 5px;
    background-color: #45433f;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, .5);
}

.samplePBI {
    background-color: #848482
}

.samplePBI > label {
    color: black;
    font-size: 125%;
    font-weight: 900;
}

.samplePBI > input.heading {
    background-color: #848482;
    color: black;
    font-size: 175%;
    font-weight: 500;
    width: 75%;
    margin-top: 5%;
    margin-bottom: 2.5%;
    border: 1px solid black;
    text-align: center;
}
.samplePBI > textarea {
    background-color: #848482;
    color: black;
    font-size: 125%;
    font-weight: 500;
    width: 98%;
    border: 1px solid black;

}
.samplePBI > div{
    width: 100%;
    text-align: right;
}
.samplePBI > select{
    background-color: #848482;
    color: black;
    font-size: 125%;
    font-weight: 900;
}
.extraPadding{
    padding-top: 3em;
    padding-bottom: 3em;
}

/*********************** Mobile Layout ***************************/
@media screen and (max-width: 1000px) {
    .PBI > h1 {
        font-size: 1.5em;
    }


    .PBI > p {
        text-align: left;
        font-size: .95em;
    }
    .PBI > h3 {
        font-size: 1.25em;
    }


    #shareLink {
        font-size: 95%;
    }

    .samplePBI > label {
        font-size: 100%;
    }

    .samplePBI > input.heading {
        font-size: 150%;
    }

    .samplePBI > textarea {
        font-size: 100%;
        width: 98%;
    }

    .samplePBI > select {
        font-size: 100%;
    }
    .modal {
        padding-top: 4%;
    }

}

@media screen and (max-width: 750px) {
    .PBI > h1 {
        font-size: 0.95em;
    }


    .PBI > p {
        text-align: left;
        font-size: .85em;
    }
    .PBI > h3 {
        font-size: 0.90em;
    }

    .heading {
        font-size: 125%;
    }

    .samplePBI > label {
        font-size: 85%;
    }

    .samplePBI > input.heading {
        font-size: 135%;
    }

    .samplePBI > textarea {
        font-size: 85%;
        width: 94%;
    }

    .samplePBI > select {
        font-size: 85%;
    }

    .small_info {
        font-size: 12px;
    }
    .modal {
        padding-top: 7%;
    }
    #Left-Side {
        float: none;
        width: 90%;
    }

    #Right-Side {
        float: none;
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 415px) {
    .PBI > h1 {
        font-size: 0.75em;
    }


    .PBI > p {
        text-align: left;
        font-size: .65em;
    }
    .PBI > h3 {
        font-size: 0.85em;
    }
    .button{
        font-size: .65em;
    }
    .PBI > label{
        font-size: .65em;
    }
    .small_info {
        font-size: 10px;
    }
    .samplePBI > label {
        font-size: 65%;
    }

    .samplePBI > input.heading {
        font-size: 115%;
    }

    .samplePBI > textarea {
        font-size: 65%;
        width: 90%;
    }

    .samplePBI > select {
        font-size: 65%;
    }
    .modal {
        padding-top: 10%;
    }
}

@media screen and (max-width: 275px) {
    .PBI > h1 {
        font-size: 0.5em;
    }


    .PBI > p {
        text-align: left;
        font-size: .5em;
    }
    .PBI > h3 {
        font-size: 0.5em;
    }
    .button{
        font-size: .5em;
    }
    .PBI > label{
        font-size: .65em;
    }
    .small_info {
        font-size: 10px;
    }
    .samplePBI > label {
        font-size: 55%;
    }

    .samplePBI > input.heading {
        font-size: 100%;
    }

    .samplePBI > textarea {
        font-size: 55%;
        width: 85%;
    }
    .samplePBI > select {
        font-size: 55%;
    }
    .modal {
        padding-top: 10%;
    }
}